#flex_outer {
    height: 300px;
    width: 300px;

    background-color: red;

    display: flex;
    justify-content:center;
    align-items:center;
}

#flex_inner {
    height: 100px;
    width: 100px;

    background-color: white;
}

#grid_outer {
    height: 300px;
    width: 300px;

    background-color: red;

    display: grid;
    grid-template-columns: repeat(3, 100px);
    grid-template-rows: repeat(3,100px);
    grid-gap: 0;
}

#grid_outer .inner {
    width: 100px;
    height: 100px;
}

#grid_inner {
    background-color: white;
}

#float_outer {
    height: 300px;
    width: 300px;

    background-color: red;
}

#float_outer .inner {
    float: left;

    width: 100px;
    height: 100px;
}

#float_inner {
    background-color: white;
}
